label,input{
    display: block;
    border-radius: 5px;
    font-family: sans-serif;

  }

  input{
      border-color: #e5e7eb;
  }

  input:focus{
      border-color: blue;
      border-width: 1px;
      box-shadow: 3px 3px rgb(173,173,173);
  }
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left_banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: max(200px,30%);*/
    flex-basis: 40%;
    height: 100vh;
    background-image: url("pexels-vasilis-karkalas-12017866.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    -webkit-background-size:cover;
    
    
}

@font-face {
    font-family: nord;
    src: url(norse-bold-webfont.woff),url(norse-bold-webfont.woff2);
}

h2{
    font-family: nord;
    src: url(norse-bold-webfont.woff),url(norse-bold-webfont.woff2);
}

.main_content{
    width: max(200px,60%);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D5C6142;
    height: 15vh;
    margin-bottom:35vh;
    position: relative;
    
    
}
h1{
    color:rgb(255, 255, 255);
    font-family: nord;
}

p{
    font-family: sans-serif;
    font-size:max(20px,10px);
    padding: 100px;
}

.logo{
	/* max-height: 100vh; */
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.description{
    background-color: rgb(244, 247, 247);
    padding: 5px;
}

.submission{
    height: min(50px,10%);
    align-self: stretch;
    padding-left: 70px;
}

button{
    background-color: rgb(234, 160, 64);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    padding: 15px 32px;
    margin-left: 30px;
}

.loginText{
    margin-top: 60px;
}

.formCard{
    padding: 100px;
    align-self: stretch;
}

.firstName, .email , .password{
    float: left;
    margin-right: 80px;
}

